<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>8268C535-8837-474E-A7D8-5A2FCF7BAB15</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/move-down.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/move-down.scpt</string>
						<key>QSObjectName</key>
						<string>move-down.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/move-down.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/move-down.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>38</integer>
			<key>modifiers</key>
			<integer>1573160</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>33C9900D-F819-4A87-B264-5438B6338871</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-up.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/resize-up.scpt</string>
						<key>QSObjectName</key>
						<string>resize-up.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-up.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/resize-up.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>40</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>F8E720EB-2324-44F8-85BB-931E1EC80850</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/maximize full screen.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/maximize full screen.scpt</string>
						<key>QSObjectName</key>
						<string>maximize full screen.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/maximize full screen.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/maximize full screen.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>46</integer>
			<key>modifiers</key>
			<integer>1179914</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5A0AC591-B5CE-4C6E-B3BE-D34FBD7EDBF2</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-down.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/resize-down.scpt</string>
						<key>QSObjectName</key>
						<string>resize-down.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-down.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/resize-down.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>38</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>0B41E2E9-A7D6-4CD1-BB85-2D3642BF42F6</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/move-left.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/move-left.scpt</string>
						<key>QSObjectName</key>
						<string>move-left.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/move-left.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/move-left.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>4</integer>
			<key>modifiers</key>
			<integer>1573160</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>DD33AC75-4ABA-42AD-8762-E2E3856F585C</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-bottom.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/edge-bottom.scpt</string>
						<key>QSObjectName</key>
						<string>edge-bottom.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-bottom.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/edge-bottom.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>38</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Command Window with Selection</string>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>1F84476F-7615-4F0F-AEEB-91E8BC440B8D</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/move-right.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/move-right.scpt</string>
						<key>QSObjectName</key>
						<string>move-right.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/move-right.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/move-right.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>37</integer>
			<key>modifiers</key>
			<integer>1573160</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Command Window in Text Mode</string>
			<key>onPress</key>
			<true/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>66888CE6-F755-4036-9636-C34E57BDEA73</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/move-up.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/move-up.scpt</string>
						<key>QSObjectName</key>
						<string>move-up.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/move-up.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/move-up.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>40</integer>
			<key>modifiers</key>
			<integer>1573160</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>68879F94-7C39-4605-97BA-A0CD1AA6E709</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-left.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/resize-left.scpt</string>
						<key>QSObjectName</key>
						<string>resize-left.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-left.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/resize-left.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>4</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>1F8E0321-0372-4734-9FFF-7A2CF39034D1</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/center.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/center.scpt</string>
						<key>QSObjectName</key>
						<string>center.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/center.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/center.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>8</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>EAD67D60-63CB-49F6-9F6E-E849E55F96A1</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-right.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/resize-right.scpt</string>
						<key>QSObjectName</key>
						<string>resize-right.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/resize-right.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/resize-right.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>37</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>onRepeat</key>
			<true/>
			<key>onRepeatInterval</key>
			<real>0.10000000000000001</real>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>A7636C13-FF66-4708-B142-953F9C54D51D</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-left.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/edge-left.scpt</string>
						<key>QSObjectName</key>
						<string>edge-left.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-left.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/edge-left.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>4</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>B3D2728E-33C9-4FE6-AFAF-DE2AF23B2F18</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/maximize vertically.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/maximize vertically.scpt</string>
						<key>QSObjectName</key>
						<string>maximize vertically.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/maximize vertically.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/maximize vertically.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>46</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>0DE2E448-2BDF-4430-9751-0FB1DBC0F3F7</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-right.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/edge-right.scpt</string>
						<key>QSObjectName</key>
						<string>edge-right.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-right.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/edge-right.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>37</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>2909017B-DE69-428E-B2EB-146225403CED</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directArchive</key>
				<dict>
					<key>data</key>
					<dict>
						<key>NSFilenamesPboardType</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-top.scpt</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectDetails</key>
						<string>~/Library/Scripts/window_control/edge-top.scpt</string>
						<key>QSObjectName</key>
						<string>edge-top.scpt</string>
						<key>QSObjectObjectID</key>
						<string>/Users/jon/Library/Scripts/window_control/edge-top.scpt</string>
						<key>QSObjectType</key>
						<string>NSFilenamesPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Users/jon/Library/Scripts/window_control/edge-top.scpt</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>40</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
